.map_container_fiji svg{
  margin-bottom: rem(-120px);
  margin-left: rem(-60px);
}


.map_container_oceania svg{
  margin-top: rem(-40px);
  margin-bottom: rem(-16px);
  margin-left: rem(-30px);
  //border: 1px solid red;
  width: 150%;
}
