/* ==============================================
                  SEARCH PAGE
================================================ */

.search_page .search_input_container {
  margin: rem(30px) rem(16px) rem(20px);
}

.search_page .user_list {
  margin: rem(16px) auto rem(20px);
}

.search_page .post_compact_list {
  margin: rem(20px) rem(16px);
}

@media only screen and (min-width : 600px) {

  .search_page .search_input_container {
    margin: rem(40px) auto rem(20px);
    max-width: rem(500px);
  }

  .search_page .secondary_nav {
    max-width: rem(500px);
    margin: 0 auto;
  }

  .search_page .user_list {
    margin: rem(10px) auto rem(20px);
  }

  .search_page .post_compact_list {
    margin: rem(20px) rem(8px);
  }

  .search_page .user_list {
    width: 100%;
    max-width: rem(480px);
    margin: rem(20px) auto;
  }

}

@media only screen and (min-width : 768px) {
  .search_page .post_compact_list {
    margin: rem(40px) rem(32px);
  }
}
