
// .profile_main {background-color: lightgreen;}
// .user {background-color: lightgoldenrodyellow;}
// .user_container {background-color: lightcyan;}
// .user_counters { background-color: lightgrey; }
// .user_counters li p{ background-color: lightpink; }
// .profile_posts {background-color: lightsalmon;}

/* ==============================================
                    PROFILE
================================================ */

.profile_main {
  padding: rem(60px) 0 rem(80px);
  width: 100%;
  max-width: rem(414px);
  margin: 0 auto;
}

@media only screen and (min-width : 415px) {
  .profile_main {
    width: 86%;
  }
}

@media only screen and (min-width : 600px) {

  .profile_main {
    padding: rem(70px) 0 rem(140px);
    width: 84%;
    max-width: 100%;
  }

}

@media only screen and (min-width : 768px) {

  .profile_main {
    width: 80%;
  }

}

@media only screen and (min-width : 960px) {

  .profile_main {
    margin-left: rem(150px);
    padding: rem(70px) rem(32px);
    max-width: rem(800px);
    height: 100%;
    min-height: 100%;
    min-height: 100vh;
    border-left: rem(2px) solid $grey-100;
    border-right: rem(2px) solid $grey-100;
  }

}

@media only screen and (min-width : 1100px) {

  .profile_main {
    margin: 0 auto;
  }

}

@import './user-container';
@import './profile_posts';

