@font-face {
    font-family: norwester;
    src: url(../fonts/norwester.otf);
    font-weight: 400;
}

@font-face {
  font-family: Bebas_Neue;
  src: url(../fonts/BebasNeue-Regular.ttf);
  font-weight: 400;
}

@font-face {
    font-family: barlow;
    src: url(../fonts/Barlow-Regular.ttf);
    font-weight: 400;
}

@font-face {
  font-family: barlow;
  src: url(../fonts/Barlow-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: barlow;
  src: url(../fonts/Barlow-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: barlow-condensed;
  src: url(../fonts/BarlowCondensed-Regular.ttf);
  font-weight: 400;
}

@font-face {
font-family: barlow-condensed;
src: url(../fonts/BarlowCondensed-Medium.ttf);
font-weight: 500;
}

@font-face {
font-family: barlow-condensed;
src: url(../fonts/BarlowCondensed-SemiBold.ttf);
font-weight: 600;
}

@font-face {
  font-family: barlow-condensed;
  src: url(../fonts/BarlowCondensed-Bold.ttf);
  font-weight: 700;
}
